:root {
  --max-width: 36rem;
  --sans: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --serif: Georgia, serif;
  --background-color: #f8f8ff;
  --font-small: 0.8rem;
  --font-med: 0.9rem;
  --text-color: rgba(0, 0, 0, 0.77);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {  
  margin: 0;
  padding: 1rem;
  background-color: var(--background-color);
  font-family: var(--sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #212529;
  text-align: left;
}

header, footer, main {
  /* border: 1px solid black; */
  padding: 3rem 4rem; 
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}



header {
  /* background-color: coral; */
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight:700
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

/* Navigation Bar */
.nav-bar {
  width: 100%;
}

.nav-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links {
  padding: 0 40px 0 0;
  text-decoration: none;
}

.name {
  padding-right: 80px;
  font-weight: 700;
}

/* Defualt Page */

p, section {
  max-width: 33rem;
}

p {
  line-height: 1.5;
  }


.overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 100px);
    grid-gap: 1rem;
    grid-template-areas:
      "why   ...    ...   ..."
      "why   what   ...   ..."
      "...   what   how   ..."
      "...   ...    how   ..."
      "...   sowhat how   ..."
      "sowhy sowhat ...   ..."
      "sowhy ...    ...   ...";
}

.why { 
  grid-area: why;
  background-image: url(img/blue.jpg);
  background-repeat: no-repeat;
}
.what { grid-area: what;}
.how { grid-area: how;}
.sowhat { grid-area: sowhat;}
.sowhy { grid-area: sowhy;}